.bx--search-input, .bx--select-input {
    border: 1px solid #D2D5DB !important;
    border-radius: 8px !important;
    height: 50px !important;
    background-color: #f4f4f4 !important;
}
.bx--select {
    flex-direction: row;
}
select:not([size]) {
    background-image: none !important;
}